.menu{
    display: flex;
    justify-content: center;
    background: #f0f0f0;
}

.menu-link{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.5em;
    transition: all 1s ease;
}

.menu-link:hover,
.menu-link:focus{
    font-size: 1.5rem;
    color: darkblue;
}